{% extends 'base.html.twig' %}

{% block title %}Hello PlannerController!{% endblock %}

{% block body %}



     <h1>OUs</h1>

    {% for ou in ous %}
      <h2>{{ou.name}} </h2>
      {% for resource in ou.resources %}
          {{resource.name}}   ({% for resourceGroup in resource.resourceGroups %} {{resourceGroup.code}} {% endfor %} )<br>
      {% endfor %}

      {% for project in ou.projects %}
         {{project.name}}
      {% endfor %}
    {% endfor %}






<h1>Shifts</h1>
<ul>
    {% for shift in shifts %}
        <li>{{ shift.name }} {{ shift.start|date("d.m.Y h:i") }} - {{ shift.end|date("d.m.Y h:i") }} 
            <br>
            needs: <br />
            {% for dependency in shift.dependencies %}
              - {{ dependency.number }}x  {{ dependency.resourceGroup }} <br />
            {% endfor %}

        </li>
    {% endfor %}
</ul>


<h1>Resources</h1>
<ul>
    {% for resource in resources %}
        <li>{{ resource.name }} (
   {% for group in resource.resourceGroups %}
   {{ group.name }} 
          {% endfor %}
        )
        
       
    
        </li>
    {% endfor %}
</ul>

{% for managedShift in managedShifts %}

      <h1>{{ managedShift.getShift().name }} {{ managedShift.getShift().start|date("d.m.Y h:i") }} - {{ managedShift.getShift().end|date("d.m.Y h:i") }} </h1>

      {{managedShift.searchBookableRessource}}
      {% if managedShift.isWrongBooked == true %}
          <span style="color:red">Error auf der Schicht ist eine fehlerhafte Einteilung vorhanden</span>

          <h2>Fehlerhafte Einteilung</h2> <br>

          {% for nm in managedShift.getWrongBooked() %} 
            {{nm.openNumber}} {{nm.resourceGroup.name}} 
              {% for shiftWork in nm.shiftWorks %} <br>
                --  {{shiftWork.resource.name}}
              {% endfor %}
        {% endfor %}

      {% endif %}

        <h2>notwendige Einteilung:</h2> <br>
       {% for nm in managedShift.getOpen() %}

            {{nm.openNumber}}x {{nm.resourceGroup.name}} <br>
            <div class="droppable ui-widget-header">
              
            </div>
              {% for shiftWork in nm.shiftWorks %} 
               --  {{shiftWork.resource.name}} bereits gebucht
            {% endfor %}
            <br>
       {% endfor %}

       <h2>vorhandene zuordnungsbare Resourcen:</h2>
<div  class="ui-widget-content draggable-nonvalid">
  <p>I'm draggable but can't be dropped</p>
</div>
 
<div class=" draggable ui-widget-content">
  <p>Drag me to my target</p>
</div>

        <h2>gemachte Einteilung:</h2> <br>
       {% for nm in managedShift.getBooked() %} 
            {{nm.openNumber}} {{nm.resourceGroup.name}} 
              {% for shiftWork in nm.shiftWorks %} <br>
               --  {{shiftWork.resource.name}} <br>
            {% endfor %}
       {% endfor %}

        <h2>Abgeschlossene Abhängikeiten:</h2> <br>
       {% for nm in managedShift.getSuccessfullDepenendcies() %} 
            {{nm.openNumber}} {{nm.resourceGroup.name}} <br>
              {% for shiftWork in nm.shiftWorks %} 
               --  {{shiftWork.resource.name}} <br>
            {% endfor %}
       {% endfor %}

      

    {% endfor %}


{% endblock %}


