<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">


    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
            {# 'app' must match the first argument to addEntry() in webpack.config.js #}
            {{ encore_entry_link_tags('app') }}
            <link rel="stylesheet" href="/build/app.css"> 
        {% endblock %}
    </head>
    <body>

    <nav class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow">
  <a class="navbar-brand col-md-3 col-lg-2 mr-0 px-3" href="#">Planner</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-toggle="collapse" data-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <input class="form-control form-control-dark w-100" type="text" placeholder="Search" aria-label="Search">
  <ul class="navbar-nav px-3">
    <li class="nav-item text-nowrap">
      <a class="nav-link" href="#">Sign out</a>
    </li>
  </ul>
</nav>

<div class="container-fluid">
  <div class="row">
    <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
      <div class="sidebar-sticky pt-3">
        <ul class="nav flex-column">
          <li class="nav-item">
            <a class="nav-link active" href="#">
              <span data-feather="home"></span>
              Organisationen
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{path('project_list')}}">
              <span data-feather="file"></span>
              Projekte
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Ressourcen
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">
              <span data-feather="file"></span>
              Vorlagen
            </a>
          </li>
        </ul>
      </div>
    </nav>

    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-md-4">
      <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
        <h1 class="h2">Planner</h1>
        
      
      </div>

        {% block body %}{% endblock %}


            </main>
  </div>
</div>

  {% block javascripts %}
    {{ encore_entry_script_tags('app') }}
    <script>
    $( function() {
        $( ".draggable" ).draggable();
        $( ".droppable" ).droppable({
          accept: function(d) { 
            droppableElement = $(this);
            possibleResourceGroupsOfTheDraggedElement = d.data("draggable-resource-resourcegroups").split(' ').map(Number);
            resourceGroupOfDroppableElement = droppableElement.data("droppable-resourcegroupid");
            if(possibleResourceGroupsOfTheDraggedElement.includes(resourceGroupOfDroppableElement)){ 
                console.log(possibleResourceGroupsOfTheDraggedElement);
                console.log(resourceGroupOfDroppableElement);
                return true;
            }
          return false;
          },
          classes: {
            "ui-droppable-active": "ui-state-active",
            "ui-droppable-hover": "ui-state-hover"
          },
          drop: function( event, ui ) {
            ui.draggable.hide();
            target = $(event.target);
            source = ui.draggable;

            window.location.href = "/shiftwork/add/"+target.data("droppable-shift")+"/"+source.data("draggable-resourceid")+"/"+target.data("droppable-resourcegroupid");
      
          }
        });
    });

    document.addEventListener('DOMContentLoaded', function() {
      calendar = projectCalendar(document.getElementById('calendar'),'{{path("fullcalendar_project_resources")}}','{{path("fullcalendar_project_events")}}');
      calendar.render();
    });

    </script>
  {% endblock %}
    </body>
</html>